<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /chamados/

  # Se for arquivo ou pasta existente, serve normalmente
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Senão, redireciona tudo para index.html
  RewriteRule ^ index.html [L]
</IfModule>