@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 12))}
}

.slider {	
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 50px;
		height: 100%;
		z-index: 2;
		background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 200px;
		margin: 0 25px;
	}
}