@import url('./cards.css');
@import url('./scroll-brands.css');
@import url('./carousel.css');
@import url('./output.css');

* {
  scroll-behavior: smooth;
}

body {
  overflow: hidden auto;
}

.fadein {
  animation: fadeIn .1s ease-in-out;
  animation-timeline: view();
  animation-range: 0 50%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.zoom {
  animation: zoom .1s ease-in-out;
  animation-timeline: view();
  animation-range: 0 50%;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: scale(.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.squares div {
  animation: square .1s ease-in-out;
  animation-timeline: view();
  animation-range: 0 50%;
}

@keyframes square {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

#text-about p {
  line-height: 2;
}